* {
    padding: 0;
    margin: 0;
}

body {
    color: #1BBFBF;
    font-family: 'Inter';
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 15px;
    background-color: #1BBFBF;
}
header h2 a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.drop-menu{
    position: relative;
    display: inline-block;
}

.drop-links {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-menu:hover .drop-links, .drop-links a{
    display: block;
}

.link-menu, .drop-menu{
    display: inline;
}

.drop-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.drop-links a {
    color: #1BBFBF;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
}

.link-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.link-menu a:hover, .drop-menu a:hover{
    text-decoration: underline;
}

.noticia {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.noticia img {
    width: 250px;
    height: 300px;
}

.noticia h4 a {
    text-decoration: none;
    color:#1BBFBF;
}

.pag-noticia {
    display: flex;
    flex-direction: column;
}

.pag-noticia span {
    margin-left: 25%;
}

#imagemNoticia {
    width:50%;
    margin-left: 25%;
}

#botaoLike {
    width: 50px;
    cursor: pointer;
    margin-left: 25%;
}

.pag-noticia h1, h2, p{
    text-align: center;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentarios h2 {
    text-align: center;
}

.comentarios textarea {
    width: 25%;
    border-color: #527E8A;
    border-radius: 5px;
}

.comentarios input {
    border-radius: 5px;
    border-color:#527E8A;
    background-color: white;
    color: #527E8A;
}

.comentarios p {
    color:#527E8A;
    text-align: start;
}

.comentarios a {
    color:#527E8A;
}