* {
    padding: 0;
    margin: 0;
}


body {
    color: #1BBFBF;
    font-family: 'Inter';
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    flex: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    background-color: #1BBFBF;
}


header h2 a {
    color: white;
    text-decoration: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drop-menu {
    position: relative;
    display: inline-block;
}

.drop-links {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-menu:hover .drop-links,
.drop-links a {
    display: block;
}

.link-menu,
.drop-menu {
    display: inline;
    text-decoration: none;
}

.drop-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.drop-links a {
    color: #1BBFBF;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
}

.link-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.link-menu a:hover,
.drop-menu a:hover {
    color: #527E8A;
    text-decoration: none;
}

.formulario {
    padding: 5%;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario a {
    color: #527E8A;
    text-decoration: underline;
}

.formulario input {
    color: #527E8A;
    border: 0px solid #1BBFBF;
    margin-left: 5%;
}

.formulario #botaoEnviar {
    color: #1BBFBF;
    border: solid #527E8A;
    padding: 5px;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 2%;
    cursor: pointer;
}

.formulario label {
    text-decoration: underline;
}

.formulario-noticia {
    padding: 2%;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-noticia input,
select,
option {
    color: #527E8A;
    border: 0px solid #1BBFBF;
    border: 5px;
}

.formulario-noticia #titulo {
    color: #527E8A;
    border: 0px solid #1BBFBF;
    margin-left: 24%;
    margin-top: 2%;
}

.formulario-noticia #corpoTexto {
    color: #527E8A;
    border: 0px solid #1BBFBF;
    margin-left: 7%;
    margin-top: 2%;
}


.formulario-noticia #botaoEnviar {
    color: #1BBFBF;
    border: solid #527E8A;
    padding: 5px;
    border-radius: 5px;
    margin-left: 40%;
    cursor: pointer;
}

.formulario-noticia label {
    text-decoration: underline;
}

.noticia {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-bottom: 5%;
    margin-right: 5%;
}

.noticia img {
    width: 250px;
    height: 300px;
    border-radius: 30px;
}

.noticia h4,
a {
    text-decoration: none;
    color: #1BBFBF;
}

.noticia h4 a {
    text-decoration: none;
    color: #1BBFBF;
}

.pag-noticia {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.pag-noticia span {
    margin-left: 25%;
}

#imagemNoticia {
    width: 50%;
    margin-left: 25%;

}

#botaoLike {
    width: 50px;
    cursor: pointer;
    margin-left: 25%;
}

.pag-noticia h1,
h2,
p {
    text-align: center;
}

.pag-noticia p {
    color: #527E8A;
    text-align: center;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentarios h2 {
    text-align: center;
}

.comentarios h4 {
    color: #1BBFBF;
}

.comentarios a {
    color: #527E8A;
    text-decoration: underline;
}

.comentarios textarea {
    width: 25%;
    border-color: #527E8A;
    border-radius: 5px;
}

.comentarios input {
    border-radius: 5px;
    border-color: #527E8A;
    background-color: white;
    color: #527E8A;
}

.comentarios p {
    color: #527E8A;
    text-align: start;
}

.jornalista {
    display: flex;
    flex-direction: column;
}

.jornalista p {
    color: #527E8A;
}

<<<<<<< HEAD
.categoria {
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
    border-width: 3px;
    border-style: double;
    border-color: #3c9ab4;
    border-radius: 20px;
}

=======
>>>>>>> featureGui
.borrado {
    filter: blur(15px);
}

#opniaoComentario {
    display: none;
}

#iconeBatePapo {
    width: 50px;
    cursor: pointer;
    margin-left: 25%;
}

footer {
    flex: 100%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #1BBFBF;
    color: white;
}

.rodape-colunas-individuais {
    display: flex;
    flex-wrap: wrap
}


.colunas {
    width: 25%;

}

.colunas h4 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.colunas ul {
    list-style: none;
}

.colunas li {
    margin-bottom: 5px;
}

.colunas form input {
    width: 71%;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #1BBFBF;
    padding: 20px;

}

.colunas form input::placeholder {
    color: white;
}

.colunas form button {
    width: 80%;
    outline: none;
    border: 1px solid white;
    color:  #1BBFBF;
    background-color: white;
    padding: 20px;
    margin-top: 5px;

}